* {
    /* background-color: rgb(135, 135, 155); */
}

.wallpaper {
    background-image: url('../images/wallFour.jfif');
    background-size: cover;
}

.header {
    color: rgb(0, 0, 0);
    font-size: 36px;
    margin-top: 10px;
    margin-left: 25px;
    padding: 15px;
}

.pTag {
    font-size: 18px;
}

.navTwo {
    justify-content: center;
    background-color: rgb(176, 196, 222, .35);
}

.resText {
    font-size: 28px;
}

.aboutMe {
    color: rgb(37, 6, 6);
    margin-top: 50px;
    margin-left: 10px;
}


.facePic {
    border-radius: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;
}

.textBox {
    height: 100px;
    background-color: white;
    width: 33%;
    border-color: rgba(128, 128, 128, 0.507);
    border-radius: 7px;
  }

.resumeText {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 28px;
    font-family: monospace;
}

.footer {
    display: flex;
    justify-content: center;
    /* position: absolute; */
    width: 100%;
    margin-top: 10px;
}

.icons {
    margin-right: 20px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-left: 215px; */
    /* align-items: center; */
    justify-content: center;

}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portCards {
    width: 45vh;
    height: 30vw;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.portCards:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.imgResize {
    height: 30vh;
}

.cardText {
    display: flex;
    justify-content: center;
}

.portText {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: bold;
}

.cardCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

@media screen and (max-width: 850px) {
    .background {
        display: flex;
        flex-direction: column;
        width: 100%; 
    }
    .aboutMe {
        margin-top: 25px;
    }
    .mediaContact {
        width: 100%;
        border-color: rgba(128, 128, 128, 0.507);
        border-radius: 7px;
    }
} 